@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  background: $background;

  .website {
    position: absolute;
    top: 16px;
    left: 16px;
    color: $text-body;
    display: flex;
    align-items: center;
    font-size: 14px;

    &:hover {
      i, span {
        color: $text-title;
      }
    }
    
    i, span {
      transition: color .2s ease-out;
    }

    i {
      margin-right: 8px;
      font-size: 18px;
    }

    span {
      font-weight: 700;
    }
  }

  .index {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .app-title {
      font-size: 48px;
      max-width: $box-width;
      text-align: center;
    }

    .app-description {
      font-size: 18px;
      margin-bottom: 24px;
      max-width: $box-width;
      text-align: center;
    }
  }
}

h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-title;
  font-weight: 700;
}

p, span, a, button {
  color: $text-body;
}

a {
  text-decoration: none;
}