.copy-popover {
  position: absolute;
  background: $text-body;
  padding: 8px;
  border-radius: 4px;
  width: 100px;
  top: -64px;
  left: -42px;
  opacity: 0;

  span {
    color: $primary;
  }

  &:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 8px;
    background: $text-body;
    left: 0;
    bottom: -6px;
    right: 0;
    margin: 0 auto;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}

.popover-anim {
  animation: pop 3s;
}

@keyframes pop {
  0% { 
    opacity: 0; 
    transform: scale(0.5); 
  }
  10% { 
    opacity: 1;
    transform: scale(1.08); 
  }
  15% { 
    opacity: 1; 
    transform: scale(1);
  }
  50% { 
    opacity: 1; 
  }
  100% { 
    opacity: 0; 
  }
}