$primary: #5CDB95;
$primary-hover: #53c787;
$secondary: #DB5C5C;
$tertiary: #5CC8DB;
$tertiary-hover: #52b0c0;

$background: #252E48;
$background-secondary: #29324E;
$background-tertiary: #343F61;

$text-white: #FFF;
$text-title: #99A0B7;
$text-body: #535F87;

$box-width: 600px;