$primary: #5CDB95;
$secondary: #DB5C5C;

$background: #252E48;
$background-secondary: #29324E;
$background-tertiary: #343F61;

$text-white: #FFF;
$text-title: #99A0B7;
$text-body: #535F87;

$box-width: 600px;